*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/*Headings*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 20px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-size: 17px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: rgb(80, 80, 80);
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

/*Common Parameter*/

:root{
  --font-size: 19px;
  --font-weight: 450;
  --letter-spacing: 0px;
  --width: 45vw;
  --height: calc(45vw * 1);
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}

/*Top Section*/

.top-section-mobile{
  display: none;
}

.top-section{
  display: flex;
  position: relative;
  height: var(--height);
}

.top-section-title{
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 10;
}

.top-section-title img{
  width: 35vw;
}

.top-section-description{
  position: absolute;
  bottom: 3%;
  left: 5%;
  width: 40%;
}

.top-section-description p{
  font-size: var(--font-size);
  line-height: 1.8em;
}

.additional-info{
  display: flex;
  margin: 20px 0%;
  gap: 10%;
}

.additional-info h4{
  font-size: 17px;
  line-height: 1.8em;
  font-weight: 450;
}

.slider-container{
  position: absolute;
  right: 3%;
}

.top-section-right img{
  width: var(--width);
  height: var(--height);
  object-fit: cover;
}

.recipe-circle{
  position: absolute;
  right: 43%;
  bottom: 10%;
  background-color: rgb(255, 240, 219);
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.recipe-circle h3{
  padding: 42px 42px;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: 'Lora', sans-serif;
  text-align: center;
}


/*Lower Section*/

.lower-section{
  margin-top: 100px;
  display: flex;
}

.lower-section-left-column{
  width: 50vw;
  margin: 100px 10%;
  justify-content: center;
}

/*What you need*/

.what-you-need h5{
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5% 0 20px 6%;
}

.ingredients{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10%;
  z-index: -1;
}

.ingredients-col{
  flex: 1;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.ingredients-col h3{
  letter-spacing: 1px;
  font-size: var(--font-size);
  font-weight: 600;
}

.ingredients-col p{
  letter-spacing: 1px;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-top: 10px;
}

.ingredients-col::after{
  content: '';
  width: 2px;
  height: 30px;
  background: rgb(0, 0, 0);
  position: absolute;
  align-items: center;
  top: 50%;
  right: 0;
}

.ingredients-col:last-child::after{
  display: none;
} 

/*What to do*/

.what-to-do{
  margin-top: 100px;
}

.what-to-do h2{
  margin-bottom: 30px;
}

.what-to-do li,
.note{
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  padding-bottom: 15px;
  text-align: justify;
}

.note{
  color: #666666;
}

.what-to-do img{
  width: 30vw;
  aspect-ratio: 1/1.1;
  object-fit: cover;
  margin: 30px auto 60px auto;
  display: flex;
  justify-content: center;
}

/*Explore other recipe*/

.otherrecipetoexplore{
  margin: 3% 2% 0 7%;
  padding: 10px 30px;
  width: 22vw;
  background-color: #fff5e8;
}

.otherrecipetoexplore h4{
  display: none;
}

.otherrecipetoexplore h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: var(--letter-spacing);
  margin: 80px auto 40px auto;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2.5px;
}

.container{
  text-align: center;
}

.container img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.container-coffee-genoise-image{
  object-position: 50% 70%;
}

.other-sliderdescription h2{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  margin: 20px 15px 10px 6px;
  text-align: left;
}

.other-sliderdescription a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  color: #000000;
}

.other-sliderdescription p{
  line-height: 1.4em;
  margin: 5px 0 70px 6px;
  text-align: left;
}

/*copyright*/

.copyright{
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1700px){

  /*Common Parameter*/

  :root{
    --font-size: 18px;
  }

  .recipe-name h4{
    width: 500px;
  }
  
}

@media only screen and (max-width:1500px){

  /*Common Parameter*/

  :root{
    --font-size: 17px;
    --width: 45vw;
    --height: calc(45vw * 1.1);
  }

  /*Top Images*/

  .top-images-slideshow-pic img{
    width: 40vw;
    aspect-ratio: 1/1.2;
  }

  .top-images-prev{
    margin: 0 3px 0 0;
  }

  .top-images-prev, .top-images-next{
    width: 45px;
    height: 45px;
    padding: 6px;
    border-width: 5px;
    font-size: 16px;
  }

  .top-images-dot{
    height: 12px;
    width: 12px;
  }

  /*What you need*/

  .what-you-need h2{
    margin-bottom: 0px;
  }

  .what-you-need h5{
    font-size: 19px;
    margin: 20px 0 20px 4%;
  }

  .ingredients{
    margin: 10px 8% 40px 8%;
  }

  /*What to do*/

  .what-to-do img{
    width: 30vw;
  }

  /*Explore other recipe*/

  .otherrecipetoexplore h3{
    font-size: 22px;
  }

  .otherrecipetoexplore h2{
    font-size: 20px;
  }
 
}


@media only screen and (max-width:1300px){

  /*Common Parameter*/

  :root{
    --width: 45vw;
    --height: calc(45vw * 1.2);
  }

  /*Top Section*/

  .recipe-circle{
    right: 42.5%;
    bottom: 10%;
    width: 140px;
    height: 140px;
  }
  
  .recipe-circle h3{
    padding: 39px;
    font-size: 23px;
  }

  .top-section-description{
    bottom: 3%;
    left: 5%;
    width: 39%;
  }

  /*Lower Section*/

  .lower-section-left-column{
    width: 57vw;
    margin: 100px 7%;
  }

  /*What you need*/

  .what-you-need h5{
    margin: 20px 0 15px 4%;
  }

  .ingredients{
    margin: 10px 8% 40px 8%;
  }

  /*Explore other recipe*/

  .otherrecipetoexplore{
    margin: 3% 0 0 4%;
    padding: 20px;
    width: 23vw;
  }

  .otherrecipetoexplore h3{
    font-size: 21px;
    margin: 50px auto 40px auto;
  }

  .other-sliderdescription p{
    margin: 5px 0 40px 6px;
  }
 
}


@media only screen and (max-width:1050px){

  /*Common Parameter*/

  h2{
    font-size: 28px;
  }

  :root{
    --letter-spacing: 0px;
    --font-size: 16px;
    --height: calc(45vw * 1.3);
  }

  /*Top Section*/

  .top-section-description{
    bottom: 2%;
    left: 3%;
  }

  .top-section-description p{
    line-height: 1.6em;
  }

  .additional-info{
    gap: 8%;
  }

  .recipe-circle{
    right: 41.5%;
    width: 135px;
    height: 135px;
  }

  /*What you need*/

  .lower-section-left-column{
    margin: 80px 8%;
  }

  .ingredients-col h3{
    letter-spacing: 2px;
  }

  .ingredients-col p{
    letter-spacing: 2px;
    margin-top: 8px;
  }

  .what-you-need h5{
    font-size: 18px;
    margin: 20px 0 10px 1%;
  }

  .ingredients{
    margin: 10px 4% 40px 4%;
  }

  /*What to do*/

  .what-to-do img{
    width: 33vw;
  }

  /*Explore other recipe*/

  .otherrecipetoexplore{
    margin: 3% 1% 0 2%;
    padding: 15px;
    width: 25vw;
  }

  .otherrecipetoexplore h3{
    font-size: 19px;
  }

  .otherrecipetoexplore h2{
    font-size: 18px;
    margin: 15px 15px 5px 6px;
  }

  .otherrecipetoexplore p{
    font-size: 15px;
  }

}


@media only screen and (max-width:900px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 28px;
  }

  nav ul li a{
    font-size: 16px;
  }

  /*Common Parameter*/

  :root{
    --height: calc(45vw * 1.45);
  }

  /*Top Section*/

  .top-section-title img{
    width: 40vw;
  }

  .top-section-description{
    bottom: 1%;
    left: 3%;
    width: 47%;
  }

  .top-section-description p{
    line-height: 1.5em;
    font-size: 16px;
  }

  .additional-info{
    gap: 6%;
  }

  .recipe-circle{
    right: 82%;
    bottom: 45%;
    width: 120px;
    height: 120px;
  }

  .recipe-circle h3{
    padding: 36px;
    font-size: 20px;
  }
}


@media only screen and (max-width:850px){

  /*Common Parameter*/

  :root{
    --font-size: 18px;
  }
  
  /*Lower Section*/

  .lower-section{
    display: grid;
  }

  .lower-section-left-column{
    width: unset;
    margin: 20px 8%;
    justify-content: center;
  }

  /*What you need*/

  .what-you-need{
    margin: 80px auto;
  }

  .ingredients{
    margin: 0 9% 40px 9%;
  }

  .what-you-need h5{
    font-size: 20px;
    margin: 15px 0 15px 3%;
  }

  /*what to do*/

  .what-to-do{
    margin: 20px 5%;
    width: unset;
  }

  .what-to-do img{
    width: 45vw;
    margin: 20px auto 40px auto;
  }

  /*Explore other recipe*/

  .otherrecipetoexplore{
    margin: unset;
    padding: unset;
    width: 100vw;
    background-color: unset;
    margin-top: 100px;
  }

  .other-scroll-container{
    margin: 20px 6% 100px 6%;
    gap: 20px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  .other-scroll-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  
  .container{
    white-space: wrap;
  }

  .otherrecipetoexplore h3{
    display: none;
  }
  
  .otherrecipetoexplore h4{
    display: initial;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 20px 0 20px 6%;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .other-sliderdescription p{
    margin: 0 0 0 5px;
  }

  .other-sliderdescription h2,
  .other-sliderdescription a{
    font-size: 19px;
  }

  .container img{
    width: 37vw;
  }

  .container-coffee-genoise-image{
    object-position: 50% 60%;
  }
  
}


@media only screen and (max-width:800px){

  /*Top Section*/

  .top-section{
    display: none;
  }

  .top-section-mobile{
    display: initial;
  }

  .top-section-mobile p{
    font-size: var(--font-size);
  }

  .top-section-mobile-title img{
    width: 60vw;
    margin: 50px 0 -50px 7%;
  }
  
  .top-section-mobile-image{
    display: flex;
    margin: auto;
    justify-content: center;
  }
  
  .top-section-mobile-image img{
    width: 80vw;
    aspect-ratio: 1/1.1;
    object-fit: cover;
    z-index: -5;
  }
  
  .top-section-mobile-description{
    margin: 30px 10%;
    line-height: 1.7em;
  }
  
  .additional-info-mobile{
    display: flex;
    margin: 20px auto;
    gap: 15%;
    line-height: 2em;
    justify-content: center;
  }

  /*What you need*/

  .what-you-need{
    margin: 0px auto 80px auto;
  }
}

@media only screen and (max-width:700px){

	/*Headings*/

  .logo{
    width: 20vw;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 55px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Common Parameter*/

  :root{
    --font-size: 17px;
  }

  /*What you need*/

  .what-you-need{
    margin: 0px auto 70px auto;
  }

  .ingredients{
    margin: 0 5% 35px 5%;
  }

  .what-you-need h5{
    font-size: 19px;
    margin: 15px 0 15px 1%;
  }

  /*what to do*/

  .what-to-do{
    margin: 20px auto;
  }

  .what-to-do img{
    width: 50vw;
    margin: 20px auto 40px auto;
  }

  /*Explore other recipe*/

  .other-scroll-container{
    gap: 20px;
    margin: 20px 5% 70px 5%;
  }

  .container img{
    width: 40vw;
  }
  
}


@media only screen and (max-width:600px){

  /*Common Parameter*/

  :root{
    --font-size: 16px;
    --font-weight: 500;
    --letter-spacing: 0px;
  }

  /*Top Section*/

  .top-section-mobile-title img{
    width: 65vw;
    margin: 20px 0 -50px 7%;
  }
  
  .top-section-mobile-image img{
    width: 90vw;
    aspect-ratio: 1/1.1;
  }
  
  .top-section-mobile-description{
    margin: 30px 6%;
    line-height: 1.6em;
  }
  
  .additional-info-mobile{
    justify-content: space-around;
    margin: 20px 0;
    gap: unset;
    line-height: 2em;
  }

  /*Lower Section*/

  .lower-section-left-column{
    margin: 0px 4%;
  }

  /*What you need*/

  .ingredients-col::after{
    width: 1.5px;
    height: 27px; 
  }

  .ingredients{
    margin: 0 6% 35px 6%;
  }

  .what-you-need h5{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 15px 0 15px 3%;
  }

  .ingredients-col h3{
    letter-spacing: 1px;
  }

  .ingredients-col p{
    letter-spacing: 1px;
    margin-top: 8px;
  }

  /*what to do*/

  .what-to-do{
    margin: 0 5%;
  }

  .what-to-do img{
    width: 58vw;
    margin: 20px auto 30px auto;
  }

  /*Explore other recipe*/

  .otherrecipetoexplore h4{
    font-size: 19px;
    word-spacing: normal;
  }

  .other-scroll-container{
    gap: 18px;
  }

  .container img{
    width: 48vw;
  }

  .other-sliderdescription h2{
    margin: 13px 10px 8px 4px;
  }

  .other-sliderdescription h2,
  .other-sliderdescription a{
    font-size: 19px; 
  }
  
  .other-sliderdescription p{
    font-size: 14px;
  }
  
}


@media only screen and (max-width:500px){

  /*Common Parameter*/

  h2{
    font-size: 25px;
    margin-bottom: 20px;
  }

  /*Lower Section*/

  .lower-section-left-column{
    margin: 0;
  }

  /*What you need*/

  .ingredients{
    margin: 0 5% 35px 5%;
  }

  .what-you-need h5{
    font-size: 17px;
    margin: 15px 0 15px 4%;
  }

  .ingredients-col h3{
    letter-spacing: 0px;
  }

  .ingredients-col p{
    letter-spacing: 0px;
    margin-top: 8px;
  }

  /*What to do*/

  .what-to-do{
    margin: 0 8%;
  }

  .what-to-do li,
  .note{
    font-weight: var(--font-weight);
    padding-bottom: 10px;
    line-height: 1.4em;
  }

  .what-to-do img{
    width: 65vw;
  }

  /*Explore other recipe*/

  .otherrecipetoexplore{
    margin: 70px 0 0 0;
  }

  .other-scroll-container{
    gap: 16px;
    margin: 20px 4% 60px 4%;
  }

  .otherrecipetoexplore h4{
    font-size: 18px;
    letter-spacing: 0px;
  }

  .container img{
    width: 50vw;
  }

  .other-sliderdescription h2{
    font-size: 18px;
    margin: 10px 8px 5px 8px;
  }
  
  .other-sliderdescription p{
    font-size: 14px;
    margin: 0 8px;
  }
  
} 


@media only screen and (max-width:450px){

  /*Common Parameter*/

  :root{
    --font-size: 15px;
  }

  /*Top Section*/

  .top-section-mobile-image img{
    width: 90vw;
    aspect-ratio: 1/1.1;
  }
  
  .top-section-mobile-description{
    margin: 20px 6%;
    line-height: 1.4em;
  }
  
  .additional-info-mobile{
    margin: 0px;
    line-height: 1.6em;
  }

  /*What you need*/

  .what-you-need{
    margin: 0px auto 50px auto;
  }

  .ingredients{
    margin: 0 4% 30px 4%;
  }

  .what-you-need h5{
    font-size: 16px;
    margin: 10px 0 10px 4%;
  }

  /*What to do*/

  .what-to-do{
    margin: 0 8%;
  }

  .what-to-do img{
    width: 70vw;
    margin: 10px auto 30px auto;
  }

  /*Explore other recipe*/

  .container img{
    width: 55vw;
  }

  .otherrecipetoexplore h4{
    font-size: 17px;
  }

  .other-sliderdescription h2,
  .other-sliderdescription a{
    font-size: 17px;
  }

}



