*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
    
}

/*Headings*/

.headingsection{
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center; 
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.logo{
  width: 20%;
  min-width: 65px;
  max-width: 70px;
  margin-left: 40px;
  margin-top: 14px;
}
  
.menu-icon{
  display: none;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 20px;
  background-color: white;
}

nav ul{
  background-color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  background-color: white; 
}

nav ul li a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-size: 17px;
  background-color: white;
  position: relative;
}

nav ul li a:hover{
  color: rgb(80, 80, 80);
}
  
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(107, 107, 107);
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

/* Common Reveal Styles */
.reveal {
  position: relative;
  opacity: 0; /* Hidden by default */
  transform: translateY(100px); /* Start by moving content down */
  transition: all 2s ease; /* Smooth transition */
}

.reveal.active {
  opacity: 1; /* Visible when active */
  transform: translateY(0); /* Moves back to normal position */
}

/* Specific Reveal Animations */
.reveal[data-reveal-type="reveal"] {
  transform: translateY(100px);
}

.reveal[data-reveal-type="reveal"].active {
  transform: translateY(0px);
}

.reveal[data-reveal-type="reveal2"] {
  transform: translateX(-100px);
}

.reveal[data-reveal-type="reveal2"].active {
  transform: translateX(0px);
}

.reveal[data-reveal-type="reveal3"] {
  transform: translateX(100px);
}

.reveal[data-reveal-type="reveal3"].active {
  transform: translateX(0px);
}

/*Content*/

.content{
  padding-bottom: 100px;
  overflow: hidden;
}

/*Top Section*/

.top-section{
  position: relative;
  padding-bottom: 80px;
}

.top-section-title{
  display: grid;
}

.top-section-title img{
  width: 50vw;
  margin: 50px 0 -2% 5%;
  z-index: 10;
  filter: brightness(0.1);
}

.top-section-description{
  position: absolute;
  top: 17%;
  right: 5%;
  text-align: end;
}

.top-section-description p{
  width: 480px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 380;
  line-height: 1.5em;
}

.top-section-image-row{
  background-color: #000000;
  display: flex;
  justify-content: center;
  gap: 1.2%;
  padding: 20px 0;
}

.top-section-image-row img{
  width: 40vw;
  aspect-ratio: 1/0.7;
  object-fit: cover;
  object-position: 50% 55%;
  border-radius: 15px;
}

.image-1{
  filter: hue-rotate(310deg);
}

.image-3{
  filter: brightness(0.7);
}

/*Spots Grid*/

.grid-1-image-mobile{
  display: none;
}

.grid-1-description,
.grid-2-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 40px 3% 40px 0;
}

.grid-2-description{
  margin: 40px 0 40px 5%;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

p{
  font-size: 19px;
}

a{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
}

.text-with-lines {
  position: relative;
  margin-top: 30px;
}

.text-with-lines::before,
.text-with-lines::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 180px;
  background-color: black; /* Line color */
  left: 0;
}

.text-with-lines::before {
  top: -8px; /* Adjust distance above the text */
}

.text-with-lines::after {
  bottom: -8px; /* Adjust distance below the text */
}

.grid-1{
  margin: 100px 17% 100px 12%;
  display: flex;
}

.grid-1-image img,
.grid-1-image-mobile img{
  width: 40vw;
  aspect-ratio: 1/0.75;
  object-fit: cover;
  border-radius: 20px;
  object-position: 50% 65%;
}

.grid-2{
  margin: 200px 12% 200px 17%;
  display: flex;
}

.grid-2-image img{
  width: 40vw;
  aspect-ratio: 1/0.75;
  object-fit: cover;
  border-radius: 20px;
  object-position: 50% 70%;
}


/*copyright*/

.copyright{
  text-align: center;
  margin-top: 20px;
  font-size: 11px;
  color: grey;
  bottom: 2%;
}


@media only screen and (max-width:1700px){

  .grid-1-image img,
  .grid-2-image img{
    aspect-ratio: 1/0.9;
  }
}


@media only screen and (max-width:1500px){

  .top-section-description{
    top: 15%;
  }

  .top-section-description p{
    width: 410px;
    font-size: 19px;
  }

  .top-section-image-row img{
    aspect-ratio: 1/0.8;
  }

  h2{
    font-size: 35px;
  }
  
  p,
  a{
    font-size: 18px;
  }

  .text-with-lines::before,
  .text-with-lines::after {
    width: 160px;
  }

  .grid-1{
    margin: 100px 15% 100px 12%;
  }
  
  .grid-2{
    margin: 180px 12% 180px 15%;
  }

  .grid-1-image img,
  .grid-2-image img{
    aspect-ratio: 1/0.9;
  }
}


@media only screen and (max-width:1300px){

  .top-section-description p{
    width: 420px;
    font-size: 18px;
  }

  h2{
    font-size: 32px;
  }
  
  p,
  a{
    font-size: 17px;
  }

  .text-with-lines::before,
  .text-with-lines::after {
    width: 150px;
  }

  .grid-1{
    margin: 70px 15% 70px 12%;
  }
  
  .grid-2{
    margin: 150px 12% 150px 15%;
  }

  .grid-1-image img,
  .grid-2-image img{
    aspect-ratio: 1/1;
  }
 
}

@media only screen and (max-width:1100px){

  .top-section-description{
    top: 12%;
    right: 4%;
  }

  .top-section-description p{
    width: 360px;
    font-size: 17px;
  }

  .top-section-image-row img{
    width: 50vw;
    aspect-ratio: 1/0.8;
  }

  h2{
    font-size: 30px;
  }
  
  p,
  a{
    font-size: 16px;
  }

  .text-with-lines::before,
  .text-with-lines::after {
    width: 140px;
  }

  .grid-1{
    margin: 50px 10% 50px 7%;
  }
  
  .grid-2{
    margin: 130px 7% 130px 10%;
  }

  .grid-1-image img,
  .grid-2-image img{
    width: 45vw;
    aspect-ratio: 1/1;
  }
}


@media only screen and (max-width:900px){

  /*Headings*/

  .logo{
    margin-left: 20px;
  }

  nav{
    padding-right: 1%;
  }

  nav ul li{
    margin-right: 28px;
  }

  nav ul li a{
    font-size: 16px;
  }

  /*Top Section*/

  .top-section-title img{
    width: 65vw;
    margin: 15% 0 -3% 5%;
  }

  .top-section-description{
    top: 3%;
    right: 4%;
  }

  .top-section-image-row img{
    width: 55vw;
    aspect-ratio: 1/0.9;
  }

  h2{
    font-size: 27px;
    margin-bottom: 10px;
  }
  
  p,
  a{
    font-size: 15px;
  }

  .text-with-lines::before,
  .text-with-lines::after {
    width: 130px;
  }

  .grid-1-image{
    display: none;
  }

  .grid-1-image-mobile{
    display: initial;
  }

  .grid-1{
    margin: 50px 15%;
    display: grid;
  }
  
  .grid-2{
    margin: 80px 15%;
    display: grid;
  }

  .grid-1-description,
  .grid-2-description{
    margin: 40px 2%;
  }

  .grid-1-image-mobile,
  .grid-2-image{
    text-align: center;
  }

  .grid-1-image-mobile img,
  .grid-2-image img{
    width: 100%;
    aspect-ratio: 1/0.7;
  }
}




@media only screen and (max-width:700px){

	.logo{
    width: 20vw;
    margin-left: 20%;
    margin-top: 10px;
  }

  nav{
    text-align: left;
  }
  
  nav ul{
    width: 100%;
    background: white;
    opacity: 0.98;
    position: absolute;
    align-self: center;
    top: 100%;
    height: 100vh;
    right: 0;
    z-index: 999;
  }

  nav ul li{
    background-color: transparent;
    display: block;
    margin: 2.5em;
  }

  nav ul li a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  nav ul li a:hover{
    color:black;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.5s;
  }

  nav ul li a:hover::after{
    width: 0;
  }

  .menu-icon{
    display: block;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 5px;
    width: 55px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #menulist{
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;
  }

  /*Top Section*/

  .top-section-title img{
    width: 70vw;
    margin: 20% 0 -3% 5%;
  }

  .top-section-description{
    top: 1%;
    right: 4%;
  }

  .top-section-image-row img{
    width: 65vw;
    aspect-ratio: 1/1.1;
  }

  /*Spots Grid*/

  h2{
    font-size: 25px;
  }

  .grid-1{
    margin: 10px 10%;
  }
  
  .grid-2{
    margin: 100px 10%;
  }

  .grid-1-description,
  .grid-2-description{
    margin: 25px 3%;
  }
}


@media only screen and (max-width:600px){

  /*Top Section*/

  .top-section-title img{
    width: 80vw;
    margin: 25% 0 -3% 5%;
  }

  .top-section-description p{
    width: 340px;
    font-size: 16px;
  }

  .top-section-image-row img{
    width: 65vw;
    aspect-ratio: 1/1.2;
  }

  /*Spots Grid*/

  .grid-1{
    margin: 10px 7%;
  }
  
  .grid-2{
    margin: 80px 7%;
  }
}


@media only screen and (max-width:500px){

  /*Top Section*/

  .top-section-title img{
    width: 85vw;
    margin: 25% 0 -3% 2%;
  }

  .top-section-description p{
    width: 280px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
  }

  .top-section-image-row img{
    width: 75vw;
    aspect-ratio: 1/1.2;
  }

  /*Spots Grid*/

  h2{
    font-size: 20px;
  }

  p,
  a{
    font-size: 14px;
    font-weight: 450;
    line-height: 1.3ema;
  }

  .text-with-lines::before,
  .text-with-lines::after {
    width: 120px;
  }

  .grid-1{
    margin: 0px 3%;
  }
  
  .grid-2{
    margin: 60px 3%;
  }

  .grid-1-description,
  .grid-2-description{
    margin: 25px 3%;
  }

  .grid-1-image-mobile img,
  .grid-2-image img{
    aspect-ratio: 1/0.8;
  }
  
}


@media only screen and (max-width:450px){

  /*Top Section*/

  .top-section-title img{
    width: 88vw;
    margin: 28% 0 -3% 2%;
  }

  /*Spots Grid*/

  .grid-1-image-mobile img,
  .grid-2-image img{
    aspect-ratio: 1/0.9;
  }
}